h1 {
  text-align: center;
}

.btnContainer {

}

.allSclBtns {
  width: 90px;
  height: 15px;
  font-size: 8px;
  display: flex;
}

.allChoBtns {
  width: 90px;
  height: 15px;
  font-size: 8px;
  display: flex;
}

.keyContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 218px;
  justify-content: center;
  margin: 0 auto;
  height: 128px;
  padding-bottom: 5px;
}

.keyStyles {
  width: 70px;
  height: 30px;
  font-size: 8px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.A.Scales {

}

.Bb.Scales {

}

.B.Scales {

}

.C.Scales {

}

.C\#.Scales {

}

.D.Scales {

}

.Eb.Scales {

}

.E.Scales {

}

.F.Scales {

}

.F\#.Scales {

}

.G.Scales {

}

.G\#.Scales {

}

.A.Chords {

}

.Bb.Chords {

}

.B.Chords {

}

.C.Chords {

}

.C\#.Chords {

}

.D.Chords {

}

.Eb.Chords {

}

.E.Chords {

}

.F.Chords {

}

.F\#.Chords {

}

.G.Chords {

}

.Ab.Chords {

}