h1 {
  text-align: center;
}

.buttonContainer {
  
}

.allSclBtns {
  width: 90px;
  height: 15px;
  font-size: 8px;
  display: flex;
}

.allChoBtns {
  width: 90px;
  height: 15px;
  font-size: 8px;
  display: flex;
}

.keyContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 32%;
  justify-content: center;
  margin: 0 auto;
  height: 128px;
  padding-bottom: 5px;
}

.keyStyles {
  width: 115px;
  height: 30px;
  font-size: 8px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}