#imageContainer {
    height: 265px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

img {
	margin: 0 auto;
	display: block;
	position: relative;
	bottom: 40px;
}

h2 {
	text-align: center;
	position: relative;
	bottom: 30px;
}

#audio {
	margin: 0 auto;
	display: block;
	padding-bottom: 10px;
}

.btnBox {
	display: flex;
	position: relative;
}

.btnBox button {
	width: 130px;
	margin: 0 auto;
}

.A.Scales {
	flex-direction: column;
	flex-wrap: wrap;
	height: 120px;
	width: 150px;
	left: 104px;
	top: 51px;
	position: absolute;
}

.Bb.Scales {

}

.B.Scales {

}

.C.Scales {

}

.C\#.Scales {

}

.D.Scales {

}

.Eb.Scales {

}

.E.Scales {

}

.F.Scales {

}

.F\#.Scales {

}

.G.Scales {

}

.G\#.Scales {

}

.A.Chords {

}

.Bb.Chords {

}

.B.Chords {

}

.C.Chords {

}

.C\#.Chords {

}

.D.Chords {

}

.Eb.Chords {

}

.E.Chords {

}

.F.Chords {

}

.F\#.Chords {

}

.G.Chords {

}

.Ab.Chords {

}