#imageContainer {
    height: 265px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    display: block;
    width: 660px;
    justify-content: center;
}

img {
	margin: 0 auto;
	display: block;
	position: relative;
	bottom: 35px;
}

h2 {
	text-align: center;
	position: relative;
    font-size: 35px;
    color: white;
    font-family: 'Archivo Black', sans-serif;
}

#audio {
	margin: 0 auto;
	display: block;
	padding-bottom: 10px;
	position: relative;
}

.sclBox, .choBox {
	position: absolute;
	margin: 0 auto;
	width: 20px;
	z-index: 1;
}

.sclBox button {
	width: 169px;
	height: 22px;
	margin: 0 auto;
    cursor: pointer;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 14px;
    padding: 0px;
}

.choBox button {
	width: 113px;
	height: 22px;
	margin: 0 auto;
    cursor: pointer;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 14px;
}

.A.Scales, .Bb.Scales, .B.Scales, .C.Scales, .C\#.Scales, .D.Scales, .Eb.Scales, .E.Scales, .F.Scales, .F\#.Scales, .G.Scales, .G\#.Scales {
	flex-direction: column;
	flex-wrap: wrap;
	height: 120px;
	width: 260px;
	position: relative;
}

.A.Chords, .Bb.Chords, .B.Chords, .C.Chords, .C\#.Chords, .D.Chords, .Eb.Chords, .E.Chords, .F.Chords, .F\#.Chords, .G.Chords, .Ab.Chords {
	flex-direction: column;
	flex-wrap: wrap;
	height: 95px;
	width: 100px;
	position: relative;
}

.A.Scales { left: 104px; top: 52px; }
.Bb.Scales { left: 104px; top: 52px; }
.B.Scales { left: 218px; top: 52px; }
.C.Scales { left: 218px; top: 52px; }
.C\#.Scales { left: 104px; top: 105px; }
.D.Scales { left: 104px; top: 105px;}
.Eb.Scales { left: 218px; top: 105px; }
.E.Scales { left: 218px; top: 105px;}
.F.Scales { left: 104px; top: 159px; }
.F\#.Scales { left: 104px; top: 159px; }
.G.Scales { left: 218px; top: 159px; }
.G\#.Scales { left: 218px; top: 159px;}

.A.Chords, .Bb.Chords, .B.Chords, .C.Chords {
	left: 104px;
	top: 235px;
}

.C\#.Chords, .D.Chords, .Eb.Chords, .E.Chords {
	left: 104px;
	top: 147px;
}

.F.Chords, .F\#.Chords, .G.Chords, .Ab.Chords {
	left: 104px;
	top: 200px;
}

@media only screen and (max-width: 1300px) {
	#audio {
		bottom: 25px;
	}

	h2 {
		bottom: 18px;
	}
	.A.Scales { left: 99px; top: 42px; }
	.Bb.Scales { left: 99px; top: 42px; }
	.B.Scales { left: 222px; top: 42px; }
	.C.Scales { left: 222px; top: 42px; }
	.C\#.Scales { left: 99px; top: 105px; }
	.D.Scales { left: 99px; top: 105px;}
	.Eb.Scales { left: 222px; top: 105px; }
	.E.Scales { left: 222px; top: 105px;}
	.F.Scales { left: 99px; top: 169px; }
	.F\#.Scales { left: 99px; top: 169px; }
	.G.Scales { left: 222px; top: 169px; }
	.G\#.Scales { left: 222px; top: 169px;}

	.A.Chords, .Bb.Chords, .B.Chords, .C.Chords {
		left: 100px;
		top: 250px;
	}
	.C\#.Chords, .D.Chords, .Eb.Chords, .E.Chords {
		left: 100px;
		top: 163px;
	}
	.F.Chords, .F\#.Chords, .G.Chords, .Ab.Chords {
		left: 100px;
		top: 227px;
	}
	.choBox button {
		width: 115px;
	}
}

@media only screen and (max-width: 800px) {
    #imageContainer {
    	height: 190px;
    }

    img {
    	width: 350px;
    	bottom: 50px;
    }

    h2 {
    	font-size: 22px;
    	bottom: 11px;
    }

    #audio {
    	bottom: 27px;
    }

	.A.Scales { left: 152px; top: 18px; }
	.Bb.Scales { left: 152px; top: 18px; }
	.B.Scales { left: 152px; top: 18px; }
	.C.Scales { left: 152px; top: 18px; }
	.C\#.Scales { left: 152px; top: 58px; }
	.D.Scales { left: 152px; top: 58px;}
	.Eb.Scales { left: 152px; top: 58px; }
	.E.Scales { left: 152px; top: 58px;}
	.F.Scales { left: 152px; top: 98px; }
	.F\#.Scales { left: 152px; top: 98px; }
	.G.Scales { left: 152px; top: 98px; }
	.G\#.Scales { left: 152px; top: 98px;}

	.A.Chords, .Bb.Chords, .B.Chords, .C.Chords {
		left: 152px;
		top: 155px;
	}
	.C\#.Chords, .D.Chords, .Eb.Chords, .E.Chords {
		left: 152px;
		top: 69px;
	}
	.F.Chords, .F\#.Chords, .G.Chords, .Ab.Chords {
		left: 152px;
		top: 109px;
	}
	.sclBox, .choBox {
		position: absolute;
		margin: 0 auto;
		width: 25px;
		z-index: 1;
	}
	.sclBox button {
		width: 178px;
		height: 22px;
		margin: 0 auto;
	    cursor: pointer;
	    font-family: 'Tenor Sans', sans-serif;
	    font-size: 14px;
	    padding: 0px;
	}
	.choBox button {
		width: 89px;
		height: 22px;
		margin: 0 auto;
	    cursor: pointer;
	    font-family: 'Tenor Sans', sans-serif;
	    font-size: 14px;
	}
}