.keyContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 455px;
  justify-content: center;
  margin: 0 auto;
  height: 160px;
  padding-bottom: 5px;
  position: relative;
}

.keyStyles {
  width: 110px;
  height: 51px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}